/* Reset some basic elements */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Apply a font throughout the page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #003366;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

/* Navigation styles if needed */
nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Style for the "World Selection Details" section */
.details-list {
    list-style-type: none;
    padding: 0;
}

.details-list>li {
    margin-bottom: 20px;
}

.details-list strong {
    font-weight: bold;
    color: #003366;
    /* Your desired color for strong text */
}

.details-list ul {
    list-style-type: disc;
    margin-left: 20px;
}

.details-list li {
    margin-bottom: 5px;
}


/* Mission Content Section */
#mission-details {
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

#mission-details h2 {
    color: #003366;
    font-size: 24px;
}

#mission-details p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/* Custom bullet style for ul li */
#mission-details ul li {
    background: url('../../assets/img/4.png') no-repeat left center;
    padding-left: 30px;
    background-size: 20px;
    margin-bottom: 10px;
    list-style: none;
}

/* Footer */
footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

/* Additional styles can be added as needed */